<div *ngIf="loading">
    <div class="d-flex justify-content-center">
        <div class="spinner-border  text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<div class="text-end mb-3">
    <div class="btn-group">
        <a [routerLink]="['/students/add']" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i> Novo</a>
        <a [routerLink]="['/students/']" class="btn btn-primary"><i class="bi bi-list"></i> Listagem</a>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h3>Listagem {{ title }}</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <input type="text" class="form-control" placeholder="Digite sua busca aqui" [(ngModel)]="search"
                (keyup)="studentsFilter()" />
            <app-message [message]="message" [class]="class" *ngIf="response"></app-message>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Escola</th>
                        <th>Criado em</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students" class="text-nowrap">
                        <td>{{ student.name }}</td>
                        <td>{{ student.cpf|cpf }}</td>
                        <td>{{ student.phone|phone }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.school.name }}</td>
                        <td>{{ student.created_at |date:'dd/MM/yyyy HH:mm:ss' }}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a [routerLink]="['/students/edit',student.id]" class="btn btn-primary">Editar</a>
                                <button class="btn btn-danger" (click)="delete(student.id)">Excluir</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <app-loadmorebutton [hasMore]="hasMore" (click)="loadMore()"></app-loadmorebutton>
    </div>
</div>