<div class="card">
    <div class="card-header">
        <h3>Listagem {{ title }}</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ordem</th>
                        <th>Nome</th>
                        <th>CNPJ</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Alunos</th>
                        <th>Funcionários</th>
                        <th>Criado em</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let school of schools" class="text-nowrap">
                        <td>{{ school.order }}</td>
                        <td>{{ school.name }}</td>
                        <td>{{ school.cnpj }}</td>
                        <td>{{ school.phone }}</td>
                        <td>{{ school.email }}</td>
                        <td>{{ school.students.length }}</td>
                        <td>{{ school.employees.length }}</td>
                        <td>{{ school.created_at |date:'dd/MM/yyyy HH:mm:ss'  }}</td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a [routerLink]="['/schools/edit',school.id]" class="btn btn-primary">Editar</a>
                                <button class="btn btn-danger" (click)="delete(school.id)">Excluir</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
